*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: visible;
}
body{
    background-color: #0d0a1b;
    overscroll-behavior: none;
    overflow-x: hidden;
}
/* For Navigation Bar */
.nav-Bar{ 
    background-color: #262626;
    width: 100vw;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    position:fixed;
    z-index: 1;
}
.navlogo1{ 
    width: 9.5rem;
    height: 1.125rem;
    margin-left: 1.26rem;
}
.navlogo1a { 
    width: 100%;
    height: 100%;
}
.buy-button{ /* For buy button*/
    font-family: "Helvetica Neue";
    font-size: 0.831rem;
    font-weight: 340;
    width: 5.875rem;
    height: 1.93rem;
    margin-right: 1.25rem;
    border-radius: 4px;
    background-color: #82B440;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.7px;
    box-shadow: 0 2px 0 #629a37;
}
.container{
    width: 88.5%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* header of the website */
.header{ 
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    padding: 20px 0 0;
}
.web-logo{ 
    padding: 10px 10px 10px 10px;
    max-height: 72px;
    width: auto;
    margin-left: 5px;
    margin-top: 2px;
}
.purchase-button{
    font-family: "Outfit" , sans-serif;
    font-size: 1.125rem;
    font-weight: 25rem;
    background-color: white;
    margin-right: 7px;
    margin-top: 11px;
    height: 3.37rem;
    width: 11.72rem;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    transition:0.3s ease;
}
.purchase-button:hover{ 
    color: white;
    background-color: #000000;
}

/* Top half of the page */
/* Left side */
.main-box{
        padding: 80px 0;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
}
.left-box{
    width: 50%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
/* .left-box-a{
    height: 397.59px;
    width: 150px;
} */
.transform-your-website{/* transform your website style*/
    display: block;
    font-size: 18px;
    font-family: "Sora", sans-serif;
    font-weight: 500;
    padding: 0 0 10px 12px;
    width: 150px;
    height: 64.59px;
    background: linear-gradient(90deg,#fe7037 25%,#6a10f2 43%);
    /* -webkit-background-clip: text; */
    /* -webkit-color: transparent; */
    background-clip: text;
    color: transparent;
}
.transform-your-website-transform{
    margin-bottom: 6.5px;
}
.motion-art-effect{
    display: block;
    color: #eee5ff;
    font-family: "Outfit", sans-serif;
    padding: 0 0 0 12px;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    line-height: 24px;
}
.main-content{
    padding: 7px 0 0 17px;
    overflow: hidden;
}

/* Center part of the top half of the page */
.attract-your-visitor{
    width: 70%;
    height: auto;
    font-size: 65px;
    line-height: 85px;
    font-weight: 500;
    font-family: "Sora",sans-serif;
    color: #eee5ff;
    margin:0 10px 10px 0;

}
.motion-art-effect-h1{
     background: linear-gradient(90deg,#fe7037 18%,#6a10f2 43%);
    /* -webkit-background-clip: text; */
    /* -webkit-color: transparent; */
    background-clip: text;
    color: transparent;
}
.unleash-power{
    color: #eee5ffBD;
    font-family: "Outfit",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    width: 70%;
}

/* Review and Rating */
.container2{
    padding: 0 10px 10px 7px;
    box-sizing: border-box;
    padding-top: 20.5px;
    margin-top: 10px;
    height: auto;
    /* overflow: hidden; */
}
.trusted-thousand-users{ 
    
    color: #eee5ff;
    font-size: 22px;
    line-height: 40px;
    font-family: "Outfit",sans-serif;
    text-align: center;
  
}

/* all the rating and review logo */
.rating-logo{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    height: auto;
    width: auto;
    
}
.logo{
    display: flex;
    flex-wrap: wrap;
}
.logo-a{
    padding-top: 10px;
    height: 97px;
    width: 88px;
}
.logo-aa{
    padding-top: 7.4px;
    margin-left: 10px;
    margin-bottom: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eee5ffBD;
    font-family: "Sora",sans-serif;
    font-size: 14.1px;
    font-weight: 450;
}
.stars{
    margin-bottom: 22px;
    justify-content: center;
    box-shadow: 2px white;
}


/* Purchase from Envato */
.purchase-from-envato-area{ 
    margin:107.5px 0 10px 0;
    padding-top: 0.5px;
    padding-left: 7.5px;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.purchase-text-area{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
width: 60%;
}
.turn-your-cursor{ 
    color: #eee5ff;
    font-family: "Sora",sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 10px;
}
.motionart-for-elements{ 
    color: #eee5ffBD;
    font-size: 18px;
    font-family: "Outfit",sans-serif;
    font-weight: 300;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.purchase-button2{ 
    margin-top: 10px;
    border: none;
    width: 331.41px;
    box-sizing: border-box;
    height: 62px;
    border-radius: 20px;
    background: linear-gradient(90deg,#5e11ff 30%,#f87516 98%);
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0 9px 2px 0;
    font-family: "Sora",sans-serif;
    color: white;
    font-weight: 300;
}
.purchase-text{ 
    padding-right: 20px;
}
.magic-stick{ 
    height: 263px;
    width: 265px;
    padding: 7px 7px 10px 10px;
    margin-top: 14px;
}
.material-symbols-outlined{ 
    width: 10px;
}

/* Apply on any section block */
.apply-section-block{
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* overflow-x: hidden; */
    box-sizing: border-box; 
}
.apply-section-text{
    color: #eee5ff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Sora",sans-serif;
    font-weight: 500;
    line-height: 60px;
    width: 90%;
}
.Apply-section-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: auto;
}
.apply-on-section-card{
    width: auto;
    height:auto;
    margin: 10px 10px 120px;
    padding: 30px;
    border: 2px solid #ffffff10;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.apply-on-section-card-p1{
    color: #eee5ff;
    margin-bottom: 10px;
    font-family: "Sora",sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}
.apply-on-section-card-p2{
    color: #eee5ffBD;
    font-family: "Outfit",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}
.apply-section-img{
    max-width: 546px;
    height: 353.12px;
    width: 100%;
    margin: auto;
}
#card-2{
    margin-top: 80px;
    margin-bottom: 10px;
    height: auto;
}
#card-2-img{
    height: 392px;
}

/* support by all browsers */
.supported-by-all-browsers{
    height: auto;
    width: 97%;
    padding: 46.5px 30px 50px 30px;
    /* margin: 130px 0px 20px 17px; */
    border: 2px solid #ffffff10;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.supported-by-all-browers-p1{
    font-size: 25px;
    height: 25px;
    width: auto;
    color: #eee5ff;
    text-align: center;
    font-weight: 500;
    font-family: "Sora",sans-serif;
    margin-bottom: 23.5px;
}
.supported-by-all-browers-p2{
    text-align: center;
    height: 60px;
    width: auto;
    color: #eee5ffBD;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: "Outfit",sans-serif;
    margin-bottom: 30px;
  
}

/* Block above Footer */
.block-above-footer{
    width:auto;                       
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 130.5px 0 88.5px 0;      
}
.block-above-footer-h2{
    font-family: "Sora",sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #eee5ff;
    line-height: 60px;
    padding-right: 6.25px;
    margin: 0 0 10px 0;
    width: 60%;
    text-align: center;
}
.block-above-footer-p{
    font-family: "Outfit",sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #eee5ffBD;
    line-height: 30px;
    width: 60%;
    margin: 0 30px;
    padding-right: 6.25px;
    text-align: center;
}
.bottom-cards{
    height: auto;
    width:auto;
    display: flex;
  
    /* justify-content: space-evenly; */
    padding: 50px 5.5px 20px 0px;
}
.bottom-all-cards{
    height: auto;
    /* width: 399.99px; */
    width: 33.333%;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 30px;
    border: 2px solid #FFFFFF10;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
}
.card-logo{
    height: auto;
    width: auto;
}
.card-logo-head{
    color: #EEE5FF;
    margin: 0px 0px 10px 0px;
    font-family: "Sora", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}
.card-logo-para{
    color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}
.card-logo-align{
    margin: -20px 0 16.2px -40px;
}
.browser-img{
width: 90%;
height: auto;
}
/* Footer */
.footer{
    width: 100vw;
    height: auto;
    padding: 22.5px 90px 12.5px 90px;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
    font-size: 14px;   
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-family: "Outfit",sans-serif;
    color: #EEE5FFB8;
}
.document-support{
    display: flex;
}
.document{
 text-decoration: none;
 color: #EEE5FFB8;
 padding-right: 27px;
}
.support{
 text-decoration: none;
 color: #EEE5FFB8;
}
@media (min-width:1699px) {
    .container{
              width: 66.089%;
    }
}
@media (min-width:1400px) and (max-width:1669px){
    .container{
        width: 77%;
    }
}

@media (max-width:1366px){
.card-logo-head{
    font-size: 23px;
}
.block-above-footer-h2{
    font-size: 35px;
}
.apply-section-text{
    font-size: 35px;
}
.turn-your-cursor{
    font-size: 35px;
}
.attract-your-visitor{
    font-size: 55px;
    line-height: 80px;
}
}
@media (max-width:1305px) {
    .container{
       width: 99%;
    }   
    .attract-your-visitor{
       font-size: 40px;
       line-height: 60px;
   }  
  .purchase-text-area{
         padding-left: 1rem;
  }
 /* .logo3{
    flex: 0 0 70vw;
 }    
                                                                        */
/* .logo3{
    display: block;
} */
}
@media (max-width:1024px){
    .purchase-button{
        display: none;
    }
    .rating-logo{
        flex-wrap: wrap;
        height: auto;
        overflow-x: visible;
        overflow: visible;
       }      
       /* .logo{
         flex: 0 0 50%;
       }  */
        /* .rating-logo > div{
        flex:50%;
       } */
       /* .logo3{
       display: inline-block;
       } */
       /* .logos{
        width: 50%;
       } */
       .bottom-cards{
        justify-content: space-between;
        flex-wrap: wrap;
       }

   .bottom-all-cards{
    width: 47%;
   }
       .abc{
        width: 100%;
       }
       .footer{
        flex-direction: column-reverse;
        align-items: center;
       }
       .document{
         margin-bottom: 1.5rem;
       }
       .apply-section-img{
        max-height:264.86px;
       }
       #card-2-img{
           max-height:294.5px;
       }
       .apply-section-block{
        margin-bottom: 40px;
       }
}
@media (max-width:800px) {
    .logo3{
       margin: auto;
           margin-top: 50px;
    }
    .apply-section-img{
        max-height:182.05px;
       }
       #card-2-img{
           max-height:202.05px;
       }
}
@media (max-width:776px) {
    .bottom-all-cards{
        width: 100%;
    }
    .main-box{
        flex-direction: column;
    }
    .attract-your-visitor{
        font-size: 35px;
        width: auto;
    }
    .main-content{
        width: 100%;
    }
    .unleash-power{
        font-size: 16px;
        width: auto;
    }
    .left-box{
        align-self: center;
    }
    .logo{
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .logo3{
        margin-top: 0;
    }
    .purchase-from-envato-area{
        flex-direction: column;
    }
    .magic-stick{
        justify-self: center;
        margin: auto;
        margin-top: 0.3rem;
    }
    .purchase-text-area{
        width: 100%;
    }
    .turn-your-cursor{
        font-size: 25px;
        line-height: 45px;
        width: 100%;
    }
    .motionart-for-elements{
        font-size: 16px;
    }
    .purchase-button2{
        margin: auto;
        width: 301px;
        margin-top: 0.7rem;
    }
    .apply-section-text{
        font-size: 25px;
        line-height: 55px;
    }
    .apply-on-section-card{
        width: 100%;
        margin-bottom: 0;
    }
    .Apply-section-cards{
        flex-wrap: wrap;
        justify-content: start;
    }
    .apply-section-block{
     margin-top: 74px;
    }
    .apply-section-img{
        max-height:357px;
        margin-bottom: 0;
       }
       #card-2-img{
           max-height:397px;
           margin-top: 0;
       }
       .block-above-footer-h2{
        font-size: 25px;
        width: 100%;
        line-height: 50px;
       }
       .block-above-footer-p{
        font-size: 16px;
        width: 100%;
       }
       .supported-by-all-browers-p1{
        font-size: 20px;
       }
       .supported-by-all-browers-p2{
        margin-top: 2rem;
       }
       .browser-img{
        margin-top: 1rem;
       }
}
@media (max-width:428px) {
    .apply-section-img{
        max-height:212.13px;
        
       }
       #card-2-img{
           max-height:253.89px;
           margin-top: 0;
       }
}
@media (max-width:369px) {
    .navlogo1{
        max-width: auto;
        height: auto;
    }
    .buy-button{
        width: auto;
        font-size: auto;
    }
    .purchase-button2{
       
        width: auto;
      /* font-size: 11px; */
      height: auto;
      padding-top:1rem;
      padding-bottom: 1rem;
      overflow: hidden;
    }
    .apply-section-img{
        max-height:172.3px;
        
       }
       #card-2-img{
           max-height:192px;
           margin-top: 0;
       }
       .magic-stick{
        max-width: auto;
        height: auto;
       }
       .copywrite{
        width: 100%;
       }
       .magic-stick{ 
        max-height:200 ;
        max-width: 200px;
        padding: 7px 7px 10px 10px;
        margin-top: 14px;
    }
    .web-logo{
        max-width: 200px;
    }
    .turn-your-cursor{
        width: 100%;
    }
}